$padding: (0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22,
    23,
    24,
    25,
    26,
    27,
    28,
    29,
    30,
    31,
    32,
    33,
    34,
    35,
    36,
    37,
    38,
    39,
    40,
    41,
    42,
    43,
    44,
    45,
    46,
    47,
    48,
    49,
    50,
    51,
    52,
    53,
    54,
    55,
    56,
    57,
    58,
    59,
    60,
    61,
    62,
    63,
    64,
    65,
    66,
    67,
    68,
    69,
    70,
    71,
    72,
    73,
    74,
    75,
    76,
    77,
    78,
    79,
    80,
    81,
    82,
    83,
    84,
    85,
    86,
    87,
    88,
    89,
    90,
    91,
    92,
    93,
    94,
    95,
    96,
    97,
    98,
    99,
    100,
    110,
    120,
    130,
    140,
    150, 160, 170, 180, 190, 200);

@for $i from 1 through length($padding) {
    $item: nth($padding, $i);

    .pt-#{$item} {
        padding-top: #{$item}px;
    }

    .pb-#{$item} {
        padding-bottom: #{$item}px;
    }

    .pl-#{$item} {
        padding-left: #{$item}px;
    }

    .pr-#{$item} {
        padding-right: #{$item}px;
    }

    .pall-#{$item} {
        padding: #{$item}px;
    }

    .mt-#{$item} {
        margin-top: #{$item}px;
    }

    .mb-#{$item} {
        margin-bottom: #{$item}px;
    }

    .ml-#{$item} {
        margin-left: #{$item}px;
    }

    .mr-#{$item} {
        margin-right: #{$item}px;
    }

    .mall-#{$item} {
        margin: #{$item}px;
    }

}

/** flex 样式*/
.flex-row,
.flex-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    &.x-start {
        justify-content: flex-start;
    }

    &.x-center {
        justify-content: center;
    }

    &.x-end {
        justify-content: flex-end;
    }

    &.x-between {
        justify-content: space-between;
    }

    &.x-around {
        justify-content: space-around;
    }

    &.y-start {
        align-items: flex-start;
    }

    &.y-center {
        align-items: center;
    }

    &.y-end {
        align-items: flex-end;
    }

}

.flex-col {
    &.x-start {
        align-items: flex-start;
    }

    &.x-center {
        align-items: center;
    }

    &.x-end {
        align-items: flex-end;
    }

    &.y-start {
        justify-content: flex-start;
    }

    &.y-center {
        justify-content: center;
    }

    &.y-end {
        justify-content: flex-end;
    }

    &.y-between {
        justify-content: space-between;
    }

    &.y-around {
        justify-content: space-around;
    }
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}